body {
    background-color: rgb(0, 0, 0);
}
h1 {
    color: rgb(255, 255, 255);
    margin-right: 30px;
    margin-bottom: 30px;
    border-color: red;
}
a {
    color: blue;
}
#linkGoogle {
    color: rgb(143, 5, 154);
    font-style: italic;
}
#linkCorey {
    color: red;
}
h1 {
    cursor: crosshair;
}
#pMain {
    border-right: 500px none aqua;
    border-top: 500px none aqua;
    border-bottom: 500px none aqua;
    color: orange;
    text-shadow: rgb(53, 53, 94);
    text-shadow: yellow;
    background-color: purple;
    background-position: 30px 30px;
border-left: 500px none blue;
    width: 229px;
}
